.sidebar {
    min-width: 250px;
    max-width: 250px;
    padding: 1rem 1rem 5rem;
    background: #354052;
    margin-left: -250px;
    transition: all 0.5s;
    /* height: 100%; */
    flex-direction: column;
    /* display: flex; */
  }
  .sidebar.is_open {
    margin-left: 0;
    transition: .5s;
  }

 .sidebar_header {
    /* background: #4271c2; */

  }
  .sidebar_header h3{
  color: #fff;
}
.divider {
  border-top: 1px solid #ccc;
  margin: 0.5rem; 
  /* border-bottom: 1px solid #ccc; */
}