/* body {
  margin: 0;
  background-color: #3f3f3f;
} */

#myAppBody {
  margin: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2400' height='1400' preserveAspectRatio='none' viewBox='0 0 2400 1400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1897%26quot%3b)' fill='none'%3e%3crect width='2400' height='1400' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c1084.547C205.574%2c1077.612%2c253.198%2c772.345%2c413.622%2c643.609C549.72%2c534.394%2c774.071%2c544.474%2c861.328%2c393.355C949.197%2c241.175%2c883.637%2c50.469%2c856.336%2c-123.123C829.382%2c-294.514%2c816.138%2c-477.624%2c703.586%2c-609.66C590.696%2c-742.093%2c418.11%2c-811.215%2c246.288%2c-838.78C86.455%2c-864.422%2c-63.104%2c-785.666%2c-222.643%2c-758.252C-407.866%2c-726.424%2c-629.125%2c-792.313%2c-767.052%2c-664.654C-904.806%2c-537.155%2c-896.596%2c-317.288%2c-901.793%2c-129.658C-906.543%2c41.846%2c-882.266%2c215.277%2c-795.524%2c363.304C-713.47%2c503.332%2c-552.192%2c563.122%2c-431.954%2c672.133C-281.423%2c808.609%2c-203.072%2c1091.397%2c0%2c1084.547' fill='%230b2138'%3e%3c/path%3e%3cpath d='M2400 2291.815C2572.62 2289.457 2754.25 2269.407 2891.099 2164.166 3023.8959999999997 2062.041 3065.3289999999997 1887.804 3127.5879999999997 1732.278 3186.8869999999997 1584.147 3270.782 1435.981 3245.681 1278.409 3220.71 1121.652 3104.032 999.5830000000001 2992.826 886.314 2887.19 778.718 2767.692 682.845 2622.176 643.338 2478.344 604.288 2326.336 620.384 2184.749 666.923 2046.242 712.45 1943.79 815.754 1828.018 904.375 1680.618 1017.207 1462.4740000000002 1079.238 1412.548 1258.026 1362.93 1435.709 1499.357 1608.856 1585.78 1771.842 1667.607 1926.162 1752.988 2083.688 1900.202 2177.701 2047.203 2271.578 2225.597 2294.197 2400 2291.815' fill='%23113356'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1897'%3e%3crect width='2400' height='1400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

:root {
  --color-light-blue: #0467bc; 
  --color-blue: #213555;
  --color-red: #fa3c3c;
  --color-orange: #fcb045;
  --color-gradient-one: linear-gradient(90deg, rgba(58,60,180,1) 8%, rgba(253,29,29,1) 65%, rgba(252,176,69,1) 100%);

}
